# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# GoLand .idea folder
.idea

# Useless docker environments
docker/basic-network/
docker/first-network/

# Swap files
*.swp

# Node extras
node/node_modules
node/hfc-key-store

# Network crypto
docker/vin-network/channel-artifacts
docker/vin-network/crypto-config

# Compiled Binary
chaincode/vin_chaincode/vin_chaincode
